<h1>Header</h1>

<%= render 'shared/error_messages' %>

<%=	form_for @image, remote: true, :html => { :multipart => true } do |f| %>
<div class="form-field">
	<%= render partial: 'shared/field', locals: {f:f} %>
</div>
<p><%= f.submit %></p>
<% end %>